@font-face {
    font-family: 'Isabel Semi Cond';
    src: local('Isabel Semi Cond Thin'), local('Isabel-Semi-Cond-Thin'),
        url('IsabelSemiCond-Thin.woff2') format('woff2'),
        url('IsabelSemiCond-Thin.woff') format('woff'),
        url('IsabelSemiCond-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

  .publish-icon {
    width: 24px;
    height: 24px;
  }

  .rotate {
    transition: all 300ms ease-in-out;
  }

  .open-span1 {
    transform: rotate(45deg);
    transform-origin: 0px 2px;
  }

  .open-span2 {
    opacity: 0;
  }

  .open-span3 {
    transform: rotate(-45deg);
    transform-origin: 2px 0px;
  }
