{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}

{% block body %}

  <h1 class="text-xl text-center font-semibold py-6">Login</h1>

  <form method="POST" class="dark:text-slate-600 space-y-4">
    {% csrf_token %}
    <div class="grid gap-4 my-6">
      <div class="space-x-4 mx-auto">
        <label for="{{ form.username.id_for_label }}" class="py-2">Username</label>
        {{ form.username }}
      </div>
      <div class="space-x-4 mx-auto">
        <label for="{{ form.password.id_for_label }}" class="py-2">Password&ensp;</label>
        {{ form.password }}
      </div>

      <div class="my-6 mx-auto">
        <input type="submit" value="Login" class="px-4 py-2 bg-gray-400 hover:bg-gray-600 text-white rounded-xl">
      </div>
    </div>
  </form>

  <div class="py-4 text-center">
    <p>Don't have an acccount ? <a href="{% url 'users:register' %}">Register</a></p>
    <p>Forgot your password ? <a href="{% url 'users:reset_password' %}" class="mt-2 italic"> Click Here</a></p>

  </div>
{% endblock %}
