{% extends 'main/base.html' %}

{% block title %}Register{% endblock %}

{% block body %}


<h1 class="text-xl text-center font-semibold py-6">Register</h1>

<form method="POST" class="dark:text-slate-600">
  {% csrf_token %}

  <div class="gap-2 my-6 text-center">
  {% for field in form %}
    <div class="mx-auto">
      <label>{{ field.label }}</label>
    </div>
    <div class="mx-auto">
      {{ field }}
    </div>
  {% endfor %}

    <div class="my-6 mx-auto">
      <input type="submit" value="Register" class="px-4 py-2 bg-gray-500 text-white rounded-xl">
    </div>
  </div>
</form>

<div class="py-4 text-center">
  <p>Already have an acccount ? <a href="{% url 'users:login' %}">Login</a></p>
</div>


{% endblock %}
