{% extends 'main/base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block title %}Your Profile{% endblock %}


{% block body %}


<h1 class="pl-2 w-80 mx-auto text-2xl font-semibold" >Welcome {% if profile.first_name %} {{profile.first_name|title}} {% else %} {{user.username|title}} {% endif %}</h1>

<br>

<hr class="p-4">
<!-- Profile Update -->
<div class="mx-auto w-80">
  <h2 class="font-semibold text-lg text-center">Profile Update</h2>

  <form action="" method="POST" class="p-2" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="py-6">

      <div class="block mb-4 text-center space-y-4">

          {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" alt="User Avatar" width="100" height="100" class="rounded-full mx-auto block shadow-lg border-2 border-gray-100/75 hover:brightness-90 hover:border-blue-600/75" id="avatar" />
          {% else %}
            <img src="https://api.dicebear.com/6.x/initials/svg?seed={{profile.user.username}}" alt="avatar" width="100" height="100" class="rounded-full mx-auto block shadow-lg border-2 border-gray-100/75 hover:brightness-90 hover:border-blue-600/75" id="avatar"/>
          {% endif %}

      </div >

      <div class="mb-6 hidden" id="choosepic">
        {{ form.avatar }}
      </div>

      <div class="mt-6 mb-4">
        <label for="" class="py-2">Description</label>
        {{ form.description }}
      </div>

      <div class="mb-4">
        <label for="" class="py-2">First Name</label>
        {{ form.first_name }}
      </div>

      <div class="mb-4">
        <label for="" class="py-2">Last Name</label>
        {{ form.last_name }}
      </div>

      <div class="mb-4">
        <label for="" class="py-2">Age</label>
        {{ form.age }}
      </div>

      <div class="mb-4">
        <label for="" class="py-2">Email</label>
        {{ form.email }}
      </div>
    </div>

    <div class="flex gap-4 w-1/2 mx-auto">
      <input type="submit" value="Save" class="px-4 py-2 bg-gradient-to-tr hover:bg-gradient-to-bl from-cyan-500 to-blue-500 text-white rounded-xl">
      <a href="{% url 'users:profile' user.id %}" class="bg-gray-400 hover:bg-gray-600 text-white rounded-xl px-4 py-2">Cancel</a>

    </div>
  </form>

</div>


{% endblock %}
