{% extends 'main/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block title %}Your Notes{% endblock %}


{% block body %}

{% if request.user.is_authenticated %}
  <h1 class="max-sm:w-80 sm:justify-center w-auto mx-auto pl-2 flex flex-wrap text-2xl font-semibold" >Welcome {{request.user|title}},&nbsp;<br><span>you have {{count}} note{{count|pluralize}} :</span></h1>
{% endif %}
<br>

<!-- Search bar + Create Note -->
<div class="flex flex-wrap-reverse justify-center space-x-6 mb-6">
  <form class="mt-4 flex-none" method="GET">
    <input class="py-2 px-4 mr-2 border rounded-xl dark:text-black" placeholder="Find a note" type="text" name="search-area" value={{search_input}}>
    <input class="py-2 px-4 text-lg bg-gray-300 hover:bg-gray-400 text-white rounded-xl" type="submit" value="🔍">
  </form>
  <a href="{% url 'main:note-create' %}" class="mt-4 py-2 px-4 text-lg bg-gradient-to-tr hover:bg-gradient-to-bl from-cyan-500 to-blue-500 text-white rounded-xl" >Create a Note</a>

</div>
<hr class="p-4">
<!-- Notes list -->
<div class="mx-auto w-80">
  <h2 class="font-semibold text-lg text-center">Notes</h2>
  <div class="grid py-4">
    {% for note in notes %}
      <div class="p-2 border-b">
        <a class="flex gap-2 text-xs font-thin">{{note.created_time|timesince}} ago
        {% if note.published %}
          <span class="inline-flex gap-1 text-xs font-thin">| &ensp;published <img src="{% static 'icons/feather-solid-light.png' %}" alt="feather-icon" style="width: 16px; height: 16px; opacity: 50;"></span>
        {% endif %}
        </a>
        <a href="{% url 'main:note-update' note.id %}" class="inline-block font-semibold">{{note.title|capfirst}}</a>
        <p class="text-xs italic">{{ note.note|truncatechars:60|striptags|safe }}</p>
      </div>
    {% empty %}
      <div class="border-b text-center">
        <p class="font-thin italic text-sm">Start writing notes! =)</p>
      </div>
    {% endfor %}

  </div>
</div>


{% endblock %}
