{% extends 'main/base.html' %}

{% block title %}Register{% endblock %}

{% block body %}
  <h1 class="text-xl text-center font-semibold py-6">Register</h1>

  <form method="POST" class="dark:text-slate-600 space-y-4">
    {% csrf_token %}
    <div class="grid cols-2 gap-4 my-6">
      <div class="space-x-4 mx-auto">
        <label for="{{ form.username.id_for_label }}" class="py-2">Username&ensp;</label>
        {{ form.username }}
      </div>
      <div class="space-x-4 mx-auto">
        <label for="{{ form.password1.id_for_label }}" class="py-2">Password 1</label>
        {{ form.password1 }}
      </div>
      <div class="space-x-4 mx-auto">
        <label for="{{ form.password2.id_for_label }}" class="py-2">Password 2</label>
        {{ form.password2 }}
      </div>

      <div class="my-6 mx-auto">
        <input type="submit" value="Register" class="px-4 py-2 bg-gray-500 text-white rounded-xl">
      </div>
    </div>
  </form>

  <div class="py-4 text-center">
    <p>Already have an acccount ? <a href="{% url 'login' %}">Login</a></p>
  </div>
{% endblock %}
